header {
    background-color: lightyellow;
    padding: 20px;
    text-align: center;
}

form {
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

label, input, button {
    margin: 5px 0;
}
